.profile__add-btn {

  color: transparent;
  width: 150px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: transparent url("../../../images/add_button.svg");
  border: 2px solid #fff;
  border-radius: 2px;

  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;

  transition: opacity 0.3s ease;
}

.profile__add-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 719px) {
  .profile__add-btn {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
