.profile__edit-btn {
  grid-area: edit-btn;
  color: transparent;
  width: 24px;
  height: 24px;

  background: transparent url("../../../../images/edit_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #fff;
  border-radius: 1px;
  align-self: flex-end;
  margin-bottom: 9px;
  padding: 0;

  transition: opacity 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}


@media screen and (max-width: 719px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    margin-bottom: 5px;
  }
}
