.elements {
  max-width: 880px;
  margin: 50px auto 0;

  display: grid;
  grid-template-columns: repeat(3, 1fr);


  column-gap: 17px;
  row-gap: 20px;


}

@media screen and (max-width: 907px) {
  .elements {

    padding: 0 27px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 719px) {
  .elements {
    padding: 0 19px;
    margin-top: 36px;
    grid-template-columns: 1fr;

  }
}
