.profile__edit-btn {
  color: transparent;
  min-width: 24px;
  height: 24px;

  background: transparent url("../../../images/edit_button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #fff;
  border-radius: 1px;
  padding: 0;
  display: block;
  transition: opacity 0.3s ease;
  cursor: pointer;
  position: absolute;
  bottom: 9px;
  right: -42px;
}

.profile__edit-btn:hover {
  opacity: 0.6;

}


@media screen and (max-width: 719px) {
  .profile__edit-btn {
    min-width: 18px;
    height: 18px;
    bottom: 5px;
    right: -28px;
  }
}
