.elements__card-fav-btn {
  grid-area: fav;

  color: transparent;
  width: 22px;
  height: 19px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: transparent url("../../../images/fav.svg");
  border: 0;
  box-sizing: border-box;
  padding: 0;
  margin: 30px 15px;

  justify-self: end;

  transition: opacity 0.3s ease;
}

.elements__card-fav-btn:hover {
  opacity: 0.5;
}
