.profile__info {
  padding: 0 30px;
  box-sizing: border-box;
  /* display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-areas:
    "name edit-btn"
    "about about";*/
  gap: 16px;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 719px) {
  .profile__info {
    padding: 26px 0 36px;

    /* display: block;
    flex-direction: column;
    /* row-gap: 14px;
    column-gap: 10px; */
    text-align: center;
    justify-content: center;
    gap: 14px;

  }
}
