.footer {
  max-width: 880px;
  margin: 66px auto 60px;
  box-sizing: border-box;
}


@media screen and (max-width: 907px) {
  .footer {
    padding-left: 27px;
  }
}

@media screen and (max-width: 719px) {
  .footer {
    padding-left: 19px;
    flex-direction: column;
    margin: 48px auto 36px;
  }
}
