.elements__card-caption {
  grid-area: caption;
  padding: 25px 0 31px 21px;
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;

  color: #000000;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
